In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("summer.csv")

In [ ]:
df.head(10)

   Year    City     Sport  ... Gender                       Event   Medal
0  1896  Athens  Aquatics  ...    Men              100M Freestyle    Gold
1  1896  Athens  Aquatics  ...    Men              100M Freestyle  Silver
2  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Silver
5  1896  Athens  Aquatics  ...    Men             1200M Freestyle  Bronze
6  1896  Athens  Aquatics  ...    Men             1200M Freestyle    Gold
7  1896  Athens  Aquatics  ...    Men             1200M Freestyle  Silver
8  1896  Athens  Aquatics  ...    Men              400M Freestyle  Bronze
9  1896  Athens  Aquatics  ...    Men              400M Freestyle    Gold

[10 rows x 9 columns]

In [ ]:
a=len(df["City"].unique())
print("Summer Olympics is held in",a,"cities" )

Summer Olympics is held in 22 cities

In [ ]:
q2_I = df.loc[:,["Sport","Medal"]]
q2_I["G_C"]=np.where(q2_I["Medal"]=="Gold",True,False)
q2_II=q2_I.loc[:, ["Sport","G_C"]]
q2_II.head()
for ind, row in q2_II.iterrows():
    if row['G_C']==True:
        q2_II.loc[ind,"Y"]=row['Sport']
    else:
      pass
q2lst=[]
for i in q2_II['Y'].unique():
  q2lst.append((i,len(q2_II[q2_II["Y"]==i])))
q2lst 
q2_df=pd.DataFrame(q2lst, columns=["Sport","Gold"])
q2_df.sort_values(by="Gold", ascending=False).head()

         Sport  Gold
0     Aquatics  1421
2    Athletics  1215
18      Rowing   890
5   Gymnastics   820
4      Fencing   552

In [ ]:
q6_I = df.loc[:,["Year","Country"]]

q6_I['M_I'] = np.where(q6_I['Country']== 'IND',df["Year"], False)
q6_I['C_I'] = np.where(q6_I['Country']== 'IND',"IND", False)

q6df=q6_I.loc[: ,["M_I","C_I"]]

minvalue_series = q6df.min(axis = 1)
minvalue_series

In [ ]:
for ind, row in q6_I.iterrows():
    if row['Country']=="IND":
        q6_I.loc[ind,"Y"]=row['Year']
    else:
      pass
q6_I2=q6_I.loc[:,["Y","Year"]]
q6_I2["Y"].min(axis=0)

1900

In [ ]:
for ind, row in new_frame.iterrows():
    if row['Medal']=='Gold':
        df.loc[ind,"Gold Counter"]=1
    else:
        df.loc[ind,"Gold Counter"]=0

new_frame.head()

      Sport   Medal
0  Aquatics    Gold
1  Aquatics  Silver
2  Aquatics  Bronze
3  Aquatics    Gold
4  Aquatics  Silver

In [ ]:
q2=[]
for i in df['Sport'].unique():
  q2.append((i,len(df[df["Sport"]==i])))
q3df=pd.DataFrame(q2, columns=["Sport","Medal"])
q3df.sort_values(by="Medal", ascending= False).head()

         Sport  Medal
0     Aquatics   4170
1    Athletics   3638
17      Rowing   2667
4   Gymnastics   2307
3      Fencing   1613

In [ ]:
q4=[]
for i in df['Athlete'].unique():
  q4.append((i,len(df[df["Athlete"]==i])))
q4df=pd.DataFrame(q4, columns=["Athlete","Medal"])
q4df.sort_values(by="Medal", ascending= False).head()

                    Athlete  Medal
18640       PHELPS, Michael     22
7197       LATYNINA, Larisa     18
9948     ANDRIANOV, Nikolay     15
6591           ONO, Takashi     13
5103   MANGIAROTTI, Edoardo     13

In [ ]:
q5= df.loc[:,["Athlete","Medal"]]
q5
q5l=[]
q5['Gold_Counter'] = np.where(q5['Medal']== 'Gold',True , False)
q5_1=q5.loc[:,["Athlete","Gold_Counter"]]

q5_1L=[]
for i in q5_1['Athlete'].unique():
  q5_1L.append((i,len(q5_1[q5_1["Athlete"]==i])))
q5_1L

[('HAJOS, Alfred', 2),
 ('HERSCHMANN, Otto', 2),
 ('DRIVAS, Dimitrios', 1),
 ('MALOKINIS, Ioannis', 1),
 ('CHASAPIS, Spiridon', 1),
 ('CHOROPHAS, Efstathios', 2),
 ('ANDREOU, Joannis', 1),
 ('NEUMANN, Paul', 1),
 ('PEPANOS, Antonios', 1),
 ('LANE, Francis', 1),
 ('SZOKOLYI, Alajos', 1),
 ('BURKE, Thomas', 2),
 ('HOFMANN, Fritz', 4),
 ('CURTIS, Thomas', 1),
 ('GOULDING, Grantley', 1),
 ('LERMUSIAUX, Albin', 1),
 ('FLACK, Edwin', 3),
 ('BLAKE, Arthur', 1),
 ('GMELIN, Charles', 1),
 ('JAMISON, Herbert', 1),
 ('GOLEMIS, Dimitrios', 1),
 ('DANI, Nandor', 1),
 ('VERSIS, Sotirios', 2),
 ('GARRETT, Robert', 6),
 ('PARASKEVOPOULOS, Panagiotis', 1),
 ('CLARK, Ellery', 2),
 ('CONNOLLY, James', 5),
 ('KELLNER, Gyula', 1),
 ('LOUIS, Spyridon', 1),
 ('VASILAKOS, Kharilaos', 1),
 ('DAMASKOS, Evangelos', 1),
 ('THEODOROPOULOS, Ioannis', 1),
 ('HOYT, William Welles', 1),
 ('TYLER, Albert', 1),
 ('PAPASIDERIS, Georgios', 1),
 ('GOUSKOS, Miltiadis', 1),
 ('PERSAKIS, Ioannis', 1),
 ('TUFFERI, Alexandre', 1),
 ('BATTEL, Edward', 1),
 ('KONSTANTINIDIS, Aristidis', 1),
 ('GOEDRICH, August', 1),
 ('FLAMENG, Léon', 3),
 ('KOLETTIS, Georgios', 1),
 ('SCHMAL, Adolf', 3),
 ('MASSON, Paul', 3),
 ('KEEPING, Frank', 1),
 ('NIKOLOPOULOS, Stamatios', 2),
 ('PIERRAKOS-MAVROMICHALIS, Perikles', 1),
 ('GRAVELOTTE, Eugène-Henri', 1),
 ('CALLOT, Henri', 1),
 ('PYRGOS, Leonidas', 1),
 ('PERRONNET, Maurice', 1),
 ('NIELSEN, Holger', 3),
 ('GEORGIADIS, Ioannis', 1),
 ('KARAKALOS, Telemachos', 1),
 ('WEINGÄRTNER, Hermann', 6),
 ('FLATOW, Alfred', 4),
 ('ZUTTER, Louis', 3),
 ('PERSAKIS, Petros', 2),
 ('MITROPOULOS, Ioannis', 2),
 ('ANDRIAKOPOULOS, Nicolaos', 2),
 ('XENAKIS, Thomasios', 2),
 ('BÖCKER, Konrad', 2),
 ('FLATOW, Gustav Felix', 2),
 ('HILMAR, Georg', 2),
 ('MANTEUFFEL, Fritz', 2),
 ('NEUKIRCH, Karl', 2),
 ('RÖSTEL, Richard', 2),
 ('SCHUFT, Gustav', 2),
 ('SCHUMANN, Carl', 4),
 ('CHRYSAPHIS, Ioannis', 1),
 ('KARVELAS, Phillippos', 1),
 ('LOUNDRAS, Dimitrios', 1),
 ('ATHANASOPOULOS, Spyros', 1),
 ('MORAKIS, Nikolaos', 1),
 ('PAINE, John', 1),
 ('PAINE, Sumner', 2),
 ('PHRANGOUDIS, Joannis', 3),
 ('ORPHANIDIS, Georgios', 2),
 ('TRIKUPIS, Nicolaos', 1),
 ('KARASEVDAS, Pantelis', 1),
 ('PAVLIDIS, Pavlos', 1),
 ('JENSEN, Viggo', 3),
 ('ROBERTSON, George Stuart', 1),
 ('BOLAND, John', 2),
 ('TRAUN, Friedrich', 1),
 ('KASDAGLIS, Dionysios', 2),
 ('PETROKOKKINOS, Demetrios', 1),
 ('PASPATIS, Konstantinos', 1),
 ('TAPAVICZA, Momcsillo', 1),
 ('NIKOLOPOULOS, Alexandros', 1),
 ('ELLIOTT, Launceston', 2),
 ('CHRISTOPOULOS, Stephanos', 1),
 ('TSITAS, Georgios', 1),
 ('HALMAY, Zoltan', 7),
 ('JARVIS, John Arthur', 2),
 ('WAHLE, Otto', 3),
 ('DROST, Johannes', 1),
 ('HOPPENBERG, Ernst', 2),
 ('RUBERL, Karl', 2),
 ('LANE, Frederick C.V.', 2),
 ('KEMP, Peter', 2),
 ('HOUBEN', 1),
 ('LEUILLIEUX, Jean', 1),
 ('MARTIN, Louis', 3),
 ('MERCHEZ, Désiré', 2),
 ('TARTARA', 1),
 ('FREY, Julius', 1),
 ('HAINLE, Max', 1),
 ('SCHÖNE, Max', 1),
 ('VON PETERSDORFF, Herbert', 1),
 ('BERTRAND', 1),
 ('CADET', 1),
 ('HOCHEPIED, Maurice', 1),
 ('HOCHEPIED, Victor', 1),
 ('VERBECKE', 1),
 ('LYKKEBERG, Peder', 1),
 ('DE VENDEVILLE, Charles', 1),
 ('SIX, André', 1),
 ('BURGESS, Thomas', 1),
 ('COULON', 1),
 ('DECUYPER, Alphonse', 1),
 ('DEVENOT', 1),
 ('FARDELLE', 1),
 ('FAVIER', 1),
 ('LAUFRAY, Louis', 1),
 ('LERICHE', 1),
 ('PESLIER, Henri', 1),
 ('PESLOY', 1),
 ('TREFFEL, Charles', 1),
 ('VASSEUR, Paul', 1),
 ('COE, Thomas', 1),
 ('DERBYSHIRE, John Henry', 2),
 ('LISTER, William', 1),
 ('ROBERTSON, Arthur', 1),
 ('ROBINSON, Eric', 1),
 ('WILKINSON, George', 3),
 ('COHEN, Henri', 1),
 ('DE BACKER, Jean', 1),
 ('DE BEHR, Victor', 1),
 ('FEYAERTS, Fernand', 2),
 ('GREGOIRE, Oscar', 3),
 ('MICHANT, Albert', 2),
 ('SONNEMANS, Victor', 1),
 ('PETIT, Charles Frédéric', 2),
 ('VAN INNIS, Hubert', 9),
 ('THIBAUD, Victor', 2),
 ('MERCIER, Emile', 1),
 ('MOUGIN, Eugène', 1),
 ('HELLE, Henri', 1),
 ('FISSEUX, Emile', 1),
 ('HEROUIN, Henri', 1),
 ('FOULON, Emmanuel', 1),
 ('DRUART, Jr.', 1),
 ('SERRURIER, Auguste', 2),
 ('GLINEUX, Louis', 1),
 ('GRUMIAUX, Emile', 1),
 ('ROWLEY, Stanley', 4),
 ('JARVIS, Francis', 1),
 ('TEWKSBURY, Walter B. John', 5),
 ('MOLONEY, Frederick', 1),
 ('KRAENZLEIN, Alvin', 4),
 ('MCLEAN, John', 1),
 ('BRAY, John', 1),
 ('BENNETT, Charles', 3),
 ('DELOGE, Henri', 2),
 ('PRITCHARD, Norman', 2),
 ('CHASTANIE, Jacques', 2),
 ('ORTON, George', 2),
 ('ROBINSON, Sidney', 3),
 ('RIMMER, John', 2),
 ('SCHULTZ, Ernst', 1),
 ('LONG, Maxwell W.Maxey', 1),
 ('HOLLAND, William', 1),
 ('TAUZIN, Henri', 1),
 ('TYSOE, Alfred', 2),
 ('CASTANET, André', 1),
 ('CHAMPOUDRY, Michel', 1),
 ('RAGUENEAU, Gaston', 1),
 ('HALL, David', 1),
 ('CREGAN, John', 1),
 ('SHELDON, Richard', 2),
 ('BAUER, Rudolf', 1),
 ('JANDA, Frantisek', 1),
 ('MCCRACKEN, Josiah', 2),
 ('FLANAGAN, John Jesus', 4),
 ('HARE, Thomas Truxton', 2),
 ('GÖNCZY, Lajos', 1),
 ('BAXTER, Irving', 5),
 ('LEAHY, Patrick Joseph', 2),
 ('SHELDON, Lewis Pendleton', 2),
 ('EWRY, Ray', 8),
 ('PRINSTEIN, Meyer', 4),
 ('TORCHEBOEUF, Emile', 1),
 ('FAST, Ernst', 1),
 ('THEATO, Michel', 1),
 ('CHAMPION, Emile', 1),
 ('ANDERSEN, Carl Albert', 2),
 ('COLKETT, Meredith Bright', 1),
 ('De AMEZOLA y ASPIZUA, José', 1),
 ('VILLOTA BAQUIOLA, Francisco', 1),
 ('DURQUETTY, Maurice', 1),
 ('ETCHEGARAY', 1),
 ('BEACHCROFT, Charles', 1),
 ('BIRKETT, Arthur Ernest', 1),
 ('BOWERMAN, Alfred James', 1),
 ('BUCKLEY, George John', 1),
 ('BURCHELL, Francis Romulus', 1),
 ('CHRISTIAN, Frederick William', 1),
 ('CORNER, Harry Richard', 1),
 ('CUMING, Frederick Wlliam', 1),
 ('DONNE, William Stephen', 1),
 ('POWLESLAND, Alfred James', 1),
 ('SYMES, John', 1),
 ('TOLLER, Montagu Henry', 1),
 ('ANDERSON, W.', 1),
 ('ATTRILL, W.T.', 1),
 ('BRAID, J.', 1),
 ('BROWNING, W.', 1),
 ('HORNE, R.', 1),
 ('JORDAN, T.H.', 1),
 ('MCEVOY, A.', 1),
 ('ROBINSON, D.', 1),
 ('ROQUES, F.', 1),
 ('SCHNEIDAU, A.J.', 1),
 ('TERRY, Henry John', 1),
 ('TOMALIN, P.H.', 1),
 ('AUMOITTE', 2),
 ('JOHIN', 2),
 ('WAYDELICH', 2),
 ('SAUTREAU', 1),
 ('VIGNEROT', 1),
 ('DAUMAIN, .....', 1),
 ('BASTIEN, Louis', 1),
 ('HILDEBRAND, Louis', 1),
 ('LAKE, John Henry', 1),
 ('TAILLANDIER, Georges', 1),
 ('SANZ, Fernand', 1),
 ('VAN DE POELE, Georges', 2),
 ('GARDERES, Dominique Maximien', 1),
 ('TRISSINO, Gian Giorgio', 2),
 ('DE CHAMPSAVIN, Louis', 1),
 ('HAEGEMAN, Aimé', 1),
 ('DE BELLEGARDE', 1),
 ('VAN LANGHENDONCK, Constant', 1),
 ('SEE, Léon', 2),
 ('FONST, Ramon', 5),
 ('PERREE, Louis', 1),
 ('AYAT, Albert', 2),
 ('LAURENT, Henri', 1),
 ('BOUGNOL, Emile', 1),
 ('BOULENGER, Marcel Jacques', 1),
 ('COSTE, Emile', 1),
 ('MASSON, Henri', 1),
 ('MIMIAGUE, Jean-Baptiste', 1),
 ('MERIGNAC, Lucien', 1),
 ('KIRCHHOFFER, Alphonse', 1),
 ('FLESCH, Siegfried', 1),
 ('DE LA FALAISE, Georges', 1),
 ('THIEBAUT, Léon', 1),
 ('NERALIC, Milan', 1),
 ('CONTE, Antonio', 1),
 ('SANTELLI, Italo', 2),
 ('DELBECQUE, Albert', 1),
 ('KELECOM, R.', 1),
 ('LEBOUTTE, Marcel', 1),
 ('LONDOT', 1),
 ('MOREAU, Ernest', 1),
 ('NEEFS, E.', 1),
 ('PELGRIMS, Georges', 1),
 ('RENIER, Alphonse', 1),
 ('SPANNOGHE, E.', 1),
 ('THORNTON, Erich', 1),
 ('VAN HEUCKELUM', 1),
 ('BUCKENHAM, Claude Percy', 1),
 ('BURRIDGE, T.E.', 1),
 ('CHALK, Alfred Ernest', 1),
 ('GROSLING, William Sullivan', 1),
 ('HASLAM, A.', 1),
 ('JONES, J.H.', 1),
 ('NICHOLAS, J.', 1),
 ('QUASH, William Francis', 1),
 ('SPACKMAN, F.G.', 1),
 ('TURNER, R.R.', 1),
 ('ZEALLEY, James Edward', 1),
 ('ALLEMANE, Pierre', 1),
 ('BACH', 1),
 ('BLOCH, Jean', 1),
 ('CANELLE, Fernand', 1),
 ('DUPARC', 1),
 ('FRAYSSE', 1),
 ('GAILLARD', 1),
 ('GARNIER, René', 1),
 ('GRANDJEAN', 1),
 ('HUTEAU', 1),
 ('LAMBERT', 1),
 ('MACAIRE', 1),
 ('PELTIER', 1),
 ('ROBERTSON, David Donaldson', 1),
 ('SANDS, Charles Edward', 1),
 ('RUTHERFORD, Walter', 1),
 ('PRATT, Daria', 1),
 ('ABBOTT, Margaret Ives', 1),
 ('WHITTIER, Pauline', 1),
 ('DEMANET, Lucien', 2),
 ('SANDRAS, Gustave', 1),
 ('BAS, Noël', 1),
 ('BOUSSOD, Jean', 1),
 ('DUC DE BISACCIA, Louis', 1),
 ('FAUQUET LEMAITRE, A.', 1),
 ('RAOUL-DUVAL, Maurice', 1),
 ('DALY, Dennis', 1),
 ('KEENE, Foxhall Parker', 1),
 ('MACKEY, Frank Jay', 1),
 ('RAWLINSON, Alfred', 1),
 ('BUCKMASTER, Walter Selby', 2),
 ('COMTE DE MADRE, José Pierre M.J.', 1),
 ('FREAKE, Frederick Maitland', 2),
 ('MCCREERY, Walter Adolph', 1),
 ('BRANDT, Francois Antoine', 2),
 ('BROCKMANN, Hermanus Gerardus', 3),
 ('KLEIN, Roelof', 2),
 ('LEEGSTRA, Ruud Gerbens', 1),
 ('MIDDELBERG, Walter', 1),
 ('OFFERHAUS, Hendrik Karel', 1),
 ('THIJSSEN, Walter', 1),
 ('TROMP, Henricus', 1),
 ('VAN DIJK, Johannes Wilhelmus Maria', 1),
 ('ABELL, Louis', 2),
 ('CARR, William', 1),
 ('DEBAECKE, Harry', 1),
 ('EXLEY, John', 2),
 ('GEIGER, John', 1),
 ('HEDLEY, Edward', 1),
 ('JUVENAL, James', 2),
 ('LOCKWOOD, Roscoe', 1),
 ('MARSH, Edward', 1),
 ('BRUGGEMAN, Prospère', 1),
 ('DE BISSCHOP, Jules', 1),
 ('DE COCK, Oscar', 1),
 ('DE SOMVILLE, Oscar Charles', 2),
 ('HEMELSOET, Maurice', 1),
 ('ODBERG, Frank', 1),
 ('VAN CROMBRUGGHE, Marcel Lucien', 1),
 ('VAN LANDEGHEM, Alfred', 2),
 ('VERDONCK, Maurice', 1),
 ('CARSTENS, Wilhelm', 1),
 ('FELLE, Ernst', 1),
 ('FICKEISEN, Otto', 2),
 ('KÖRNER, Julius', 1),
 ('KRÖWERATH, Franz', 1),
 ('LEHLE, Carl', 1),
 ('MÖLLER, Adolf', 1),
 ('MOTHS, Gustav Adolf', 1),
 ('RÜSTER, Hugo', 1),
 ('WILKER, Hermann', 2),
 ('BOUCKAERT, Henri', 1),
 ('CAU, Jean', 1),
 ('CHARLOT', 1),
 ('DELCHAMBRE, Emile', 1),
 ('GOSSLER, Carl Heinrich', 1),
 ('GOSSLER, Gustav Ludwig', 1),
 ('GOSSLER, Oscar', 1),
 ('HAZEBROUCK, Henri', 1),
 ('KATZENSTEIN, Walther', 1),
 ('TIETGENS, Waldemar', 1),
 ('HIEBENDAAI, Coenraad Christiaan', 1),
 ('LOTSY, Gerhard Oswald', 1),
 ('LOTSY, Paulus Jan', 1),
 ('LUMPP, Georges', 1),
 ('PERRIN, Charles', 1),
 ('SOUBEYRAN, Daniel', 1),
 ('TERWOGT, Johannes Hester Lambertus', 1),
 ('WEGELIN, Emile', 1),
 ('DELTOUR, Carlos', 1),
 ('PAOLI, Raoul', 1),
 ('VEDRENNE, Antoine Erneste', 1),
 ('MARTINET, Louis', 1),
 ('UNKNOWN COX / BARREUR INCONNU', 1),
 ('WALEFF', 1),
 ('ASHE, Saint-George', 1),
 ('BARRELET, Henri', 1),
 ('GAUDIN, André', 1),
 ('AITOFF, Vladimir', 1),
 ('ALBERT, A.', 1),
 ('BINOCHE, Jean, LÃ©on', 1),
 ('COLLAS, Jean', 2),
 ('GAUTIER, Jean Guy', 1),
 ('GIROUX, Auguste', 1),
 ('GONDOUIN, Charles', 2),
 ('HENRIQUEZ DE ZUBIERRA, Constantin', 2),
 ('HERVE, Jean', 1),
 ('LARDANCHET, Victor', 1),
 ('LEFEBVRE, Hubert', 1),
 ('OLIVIER, Joseph', 1),
 ('PHARAMOND, Alexandre', 1),
 ('REICHEL, Frantz', 1),
 ('RISCHMANN, André', 1),
 ('ROOSEVELT, Albert', 1),
 ('SARRADE, Emile', 2),
 ('AMRHEIN, Albert', 1),
 ('BAYLISS, F.C.', 1),
 ('BETTING, Hugo', 1),
 ('BIRTLES, J.Henry', 1),
 ('CAUTLON, J.', 1),
 ('DARBY, Artur John', 1),
 ('DEYKIN, C.P.', 1),
 ('HERRMANN, Jacob', 1),
 ('HOFMEISTER, Willy', 1),
 ('HOOD, L.', 1),
 ('KREUZER, Hermann', 1),
 ('LANDVOIGT, Arnold', 1),
 ('LATSCHA, Hans', 1),
 ('LOGAN, M.L.', 1),
 ('LOVEITT, H.A.', 1),
 ('LUDWIG, Erich', 1),
 ('LUDWIG, Richard', 1),
 ('MÜLLER, Fritz', 1),
 ('NICOL, N.S.', 1),
 ('POPPE, Eduard', 1),
 ('REITZ, Heinrich', 1),
 ('SCHMIERER, August', 1),
 ('SMITH, V.', 1),
 ('STOCKHAUSEN, Adolf', 1),
 ('TALBOT, M.W.', 1),
 ('WALLIS, J.G.', 1),
 ('WENDEROTH, Georg', 1),
 ('WHITTINDALE, Claud', 1),
 ('WHITTINDALE, Raymond', 1),
 ('WILSON, Francis Henry', 1),
 ('MICHELET, E.', 2),
 ('MICHELET, F.', 2),
 ('GRETTON, John H.', 2),
 ('HOPE, Linton', 2),
 ('LORD CURRIE, Lorne Campbell', 2),
 ('BAUDRIER, Jacques', 1),
 ('LEBRET, Jean', 1),
 ('MARCOTTE', 1),
 ('MARTIN, William', 2),
 ('VALTON', 1),
 ('HORE, Edward', 1),
 ('BILLARD, Emile', 1),
 ('PERQUER, P.', 1),
 ('LE DUC DECAZES, Jean', 1),
 ('MACHENRY, M.', 1),
 ('TAYLOR, Howard', 1),
 ('GUFFLET, Maurice', 1),
 ('NAUE, Georg', 1),
 ('PETERS, Heinrich', 1),
 ('WEISE, Ottokar', 1),
 ('WIESNER, Martin', 1),
 ('BALME, Eugène', 2),
 ('LARROUY, Maurice', 1),
 ('MOREAUX, Léon', 3),
 ('BOUWENS, Antonius', 1),
 ('SILLEM, Henrik', 1),
 ('SWEYS, Anthony Ahasuerus', 1),
 ('VAN DEN BERGH, Solko Johannes', 1),
 ('VAN HAAN, Gerardus', 1),
 ('LÜTHI, Friedrich', 1),
 ('PROBST, Paul', 1),
 ('RICHARDET, Louis-Marc', 2),
 ('RÖDERER, Karl Konrad', 2),
 ('STÄHELI, Konrad', 4),
 ('DUFFOY, Louis', 1),
 ('LECOQ, Maurice', 3),
 ('PAROCHE, Achille', 5),
 ('TRINITE', 1),
 ('ÖSTMO, Ole', 4),
 ('VAN ASBROECK, Paul', 3),
 ('KELLENBERGER, Emil', 3),
 ('NIELSEN, Anders Peter', 4),
 ('PAUMIER DU VERGIER, Charles', 2),
 ('MADSEN, Lars Jörgen', 5),
 ('CAVADINI, Auguste', 1),
 ('THOMAS, René', 1),
 ('BÖCKLI, Franz', 1),
 ('GRÜTER, Alfred', 1),
 ('FRYDENLUND, Olaf Emil', 1),
 ('HERMANDSEN, Hellmer', 1),
 ('SAETHER, Ole Andreas', 3),
 ('SEEBERG, Tom', 1),
 ('DE CLARY, Justinien', 1),
 ('DE BARBARIN, Roger', 1),
 ('GUYOT, René', 1),
 ('DE LA CHAPELLE, Georges', 1),
 ('MAHONY, Harold Sergerson', 3),
 ('NORRIS, Arthur B.J.', 2),
 ('PREVOST, André', 1),
 ('DOHERTY, Hugh Lawrence', 3),
 ('DOHERTY, Reginald Frank', 4),
 ('DE GARMENDIA, Basil Spalding', 1),
 ('DECUGIS, Max', 3),
 ('WARDEN, Archibald A.', 1),
 ('JONES, Marion', 2),
 ('ROSENBAUM, Hedwig', 2),
 ('COOPER, Charlotte', 2),
 ('PREVOST, Hélène', 2),
 ('AABYE, Edgar', 1),
 ('NILSSON, August', 1),
 ('SCHMIDT, Eugen', 1),
 ('SÖDERSTRÖM, Gustaf', 1),
 ('STAAF, Karl Gustav', 1),
 ('WINCKLER, Charles', 1),
 ('BASSET, Pierre', 1),
 ('ROFFO, Joseph', 1),
 ('BRAUNSCHWEIGER, Alfred', 1),
 ('KEHOE, Frank', 1),
 ('SHELDON, George', 1),
 ('HOFFMANN, Georg', 2),
 ('GOODWIN, Leo Budd', 3),
 ('DICKEY, William Paul', 1),
 ('ADAMS, Edgar H.', 1),
 ('ZACHARIAS, Georg', 2),
 ('BRACK, Walter', 2),
 ('LEARY, J. Scott', 2),
 ('DANIELS, Charles', 7),
 ('GAILEY, Francis', 4),
 ('RAUSCH, Emil', 3),
 ('KISS, Geza', 2),
 ('HANDY, Hehry Jamison', 1),
 ('EVANS, Gwynne', 1),
 ('ORTHWEIN, William Robert', 1),
 ('REYBURN, Amadee', 1),
 ('SCHWARTZ, Marquard', 1),
 ('HANDLEY, Louis De Breda', 1),
 ('RUDDY, Joseph A.', 1),
 ('GOETZ, Hugo', 1),
 ('HAMMOND, David', 1),
 ('THORNE, Raymond', 1),
 ('TUTTLE, William', 1),
 ('THOMPSON, William Henry', 3),
 ('BRYANT, George Philipp', 3),
 ('WILLIAMS, Robert', 4),
 ('POLLOCK, Jessie', 3),
 ('HOWELL, Matilda Scott', 3),
 ('COOKE, Emma C.', 3),
 ('BRYANT, Wallace', 1),
 ('DALLIN, Cyrus Edwin', 1),
 ('RICHARDSON, Henry Barber', 2),
 ('MAXSON, Louis W.', 1),
 ('SPENCER, Galen Carter', 1),
 ('CLARK, William A.', 1),
 ('DUVALL, Samuel Harding', 1),
 ('HUBBARD, Charles R.', 1),
 ('WOODRUFF, Charles S.', 1),
 ('TAYLOR, Louise', 1),
 ('WOODRUFF, Laura', 1),
 ('TAYLOR, Mabel', 1),
 ('HOGENSON, William', 3),
 ('HAHN, Archie', 3),
 ('CARTMELL, John Nathaniel', 4),
 ('ASHBURNER, Lesley', 1),
 ('SCHULE, Frederick', 1),
 ('SHIDELER, Thaddeus', 1),
 ('HEARN, Lacey', 2),
 ('LIGHTBODY, James', 4),
 ('VERNER, William Frank', 2),
 ('POAGE, George', 2),
 ('HILLMAN, Harry', 4),
 ('CASTLEMAN, Frank', 1),
 ('NEWTON, Arthur', 3),
 ('DALY, John', 1),
 ('GROMAN, Herman', 1),
 ('WALLER, Frank', 2),
 ('MUNSON, David Curtis', 1),
 ('PILGRIM, Paul Harry', 1),
 ('UNDERWOOD, George', 1),
 ('VALENTINE, Howard', 2),
 ('CORAY, Albert', 2),
 ('HATCH, Sidney', 1),
 ('MITCHELL, James', 1),
 ('DESMARTEAU, Etienne', 1),
 ('MOULTON, Fay', 1),
 ('BREITKREUTZ, Emil', 1),
 ('KIELY, Thomas Francis', 1),
 ('GUNN, Adam', 1),
 ('GEORGANDAS, Nicolaos', 1),
 ('SHERIDAN, Martin', 4),
 ('ROSE, Ralph', 6),
 ('DEWITT, John', 1),
 ('WEINSTEIN, Paul', 1),
 ('JONES, Samuel', 1),
 ('SERVISS, Garrett', 1),
 ('ROBERTSON, Lawson N.', 1),
 ('STADLER, Joseph F.', 2),
 ('STANGLAND, Robert', 2),
 ('FRANK, Daniel', 1),
 ('BILLER, John', 2),
 ('KING, Charles', 2),
 ('HICKS, Thomas', 1),
 ('WILKINS, Louis', 1),
 ('DVORAK, Charles', 1),
 ('SAMSE, Leroy', 1),
 ('FEUERBACH, Lawrence E. Joseph', 1),
 ('COE, William Wesley', 1),
 ('MERZ, William', 5),
 ('EMMERICH, Max', 1),
 ('GRIEB, John', 2),
 ('ENGLEHARDT, Frederick', 1),
 ('FINNEGAN, George', 2),
 ('BURKE, Miles', 1),
 ('MICHAELS, William', 1),
 ('BERGER, Samuel', 1),
 ('MAYER, Charles', 2),
 ('KIRK, Oliver L.', 2),
 ('GILMORE, Frederick', 1),
 ('HALLER, Frank', 1),
 ('VAN HORN, Russell', 1),
 ('SPANGER, Harry J.', 2),
 ('EAGAN, James Jack', 2),
 ('LYDON, Joseph', 3),
 ('YOUNG, Albert', 1),
 ('SPRADLEY, Benjamin', 1),
 ('BILLINGTON, Edward', 4),
 ('HURLEY, Marcus', 5),
 ('DOWNING, Burton', 6),
 ('GOERKE, Oscar', 1),
 ('WILEY, George', 2),
 ('ANDREWS, Arthur F.', 2),
 ('SCHLEE, Charles', 1),
 ('VAN ZO POST, Albertson', 5),
 ('TATHAM, Charles', 3),
 ('DIAZ, Manuel', 2),
 ('FOX, Arthur', 1),
 ('TOWNSEND, Charles Fitzhugh', 1),
 ('GREBE, William', 2),
 ("O'CONNOR, William Scott", 1),
 ('BRADY, Joseph J.', 2),
 ('COOKE, George Edwin', 2),
 ('COOKE, Thomas J.', 2),
 ('COSTGROVE, Cormic F.', 2),
 ('DIERKES', 2),
 ('DOOLING, Martin T.', 2),
 ('FROST, Frank', 2),
 ('JAMESON, Claude Stanley', 2),
 ('JAMESON, Henry Wood', 2),
 ('JOHNSON, -', 2),
 ("O'CONNELL", 2),
 ('TATE, Harry', 2),
 ('BARTLIFF, Charles Albert', 2),
 ('BRITTINGHAM, Warren G.', 2),
 ('BROCKMEYER, Oscar B.', 2),
 ('CUDMORE, Alexander', 2),
 ('DUCKER, George', 1),
 ('FRASER, John Alexander', 1),
 ('GOURLEY, John', 1),
 ('HALL, Alexander', 1),
 ('JANUARY, Charles James', 2),
 ('JANUARY, John Hartnett', 2),
 ('JANUARY, Thomas Thurston', 2),
 ('JOHNSON, Albert', 1),
 ('LANE, Robert', 1),
 ('LAWLER, Raymond E.', 2),
 ('LINTON, Ernest', 1),
 ('MACDONALD, Gordon', 1),
 ('MENGES, Louis John', 2),
 ('RATICAN, Peter Joseph', 2),
 ('STEEP, Frederick', 1),
 ('TAYLOR, Thomas', 1),
 ('TWAITS, William', 1),
 ('MCKINNIE, Burt P.', 2),
 ('NEWTON, Francis Clement', 2),
 ('LYON, George Seymour', 1),
 ('EGAN, Henri Chandler', 2),
 ('CUMMINS, Edward M.', 1),
 ('EDWARDS, Kenneth Paine', 1),
 ('EGAN, Walter Eugene', 1),
 ('HUNTER, Robert Edward', 2),
 ('MOORE, Nathaniel Fish', 1),
 ('PHELPS, Mason Elliot', 1),
 ('SAWYER, Danieledward', 1),
 ('SMOOT, Clement E.', 1),
 ('WOOD, Warren K.', 1),
 ('CADY, John Deere', 1),
 ('LAMBERT, Albert Bond', 1),
 ('MAXWELL, John R.', 1),
 ('MCKITTRICK, Ralph', 1),
 ('POTTER, Henry', 1),
 ('SEMPLE, Frederick', 1),
 ('STICKNEY, Arthur William', 1),
 ('STICKNEY, Stuart Grosvenor', 1),
 ('WILSON, Ralph', 1),
 ('HENNIG, Edward', 2),
 ('VOIGT, Emil', 3),
 ('WEBER, Wilhelm', 2),
 ('SPINNLER, Adolf', 2),
 ('LENHART, Julius', 3),
 ('HEIDA, Anton', 6),
 ('EYSER, George', 6),
 ('DUHA, John', 2),
 ('GLASS, Hermann', 1),
 ('KRAUSE, Charles', 2),
 ('MAYACK, Robert', 1),
 ('MEYER, George', 1),
 ('SCHUSTER, Philipp', 1),
 ('SIEGLER, Edward', 1),
 ('HESS, Max', 1),
 ('KASSEL, Philipp', 1),
 ('RECKEWEG, Ernst', 1),
 ('BEYER, Emil', 1),
 ('BISSINGER, John', 1),
 ('ROSENKAMPF, Arthur', 1),
 ('SCHMITZ, Julian', 1),
 ('STEFFEN, Otto', 1),
 ('WOLF, Max', 1),
 ('BLANCHARD, Elie', 1),
 ('BRENNAUGH, W.', 1),
 ('BRETZ, George', 1),
 ('BURNS, William Laurie', 1),
 ('CATTANACH, George', 1),
 ('CLOUTIER, George', 1),
 ('COWAN, Sandy', 1),
 ('FLETT, Jack', 1),
 ('JAMIESON, Benjamin', 1),
 ('LAIDLAW, Hilliard', 1),
 ('LYLE, H.', 1),
 ('ORRIS, William F.L.', 1),
 ('PENTLAND, L.H.', 1),
 ('CROGAN, Patrick', 1),
 ('DOWLING, J.W.', 1),
 ('GIBSON', 1),
 ('HESS', 1),
 ('LEHMAN', 1),
 ('MURPHY', 1),
 ('PARTRIDGE', 1),
 ('PASSMORE, George', 1),
 ('SULLIVAN', 1),
 ('VENN, A.H.', 1),
 ('WOODS', 1),
 ('YOUNG', 1),
 ('BROWN, Charles', 2),
 ('JACOBUS, Charles', 1),
 ('STREETER, Smith O.', 1),
 ('BUERGER, Joseph', 1),
 ('JOACHIM, John', 1),
 ('FARNAM, Robert', 1),
 ('RYAN, Joseph', 1),
 ('MULCAHY, John J.F.', 2),
 ('VARLEY, William', 2),
 ('RAVANACK, Joseph', 1),
 ('WELLS, John', 1),
 ('HOBEN, John Grey', 1),
 ('MCLOUGHLIN, James', 1),
 ('ARMSTRONG, Charles E.', 1),
 ('CRESSER, Frederick', 1),
 ('DEMPSEY, Joseph F.', 1),
 ('FLANIGAN, James', 1),
 ('GLEASON, Michael D.', 1),
 ('LOTT, Harry Hunter', 1),
 ('SCHELL, Frank Reaner', 1),
 ('BAILEY, Arthur B.', 1),
 ('BOYD, Philip Ewing', 1),
 ('LOUDON, Thomas Richardson', 1),
 ('MACKENZIE, Donald', 1),
 ('REIFFENSTEIN, George Patrick', 1),
 ('RICE, William', 1),
 ('STRANGE, George  M.', 1),
 ('WADSWORTH, William', 1),
 ('WRIGHT, Joseph George', 2),
 ('DUNIMERTH, Frank', 1),
 ('FREITAG, John', 1),
 ('HELM, Louis G.', 1),
 ('VOERG, Gustav', 1),
 ('DIETZ, George', 1),
 ('ERKER, August', 1),
 ('NASSE, Albert', 1),
 ('STOCKHOFF, Arthur', 1),
 ('AMAN, Charles', 1),
 ('BEGLEY, Michael', 1),

In [ ]:
q5df=pd.DataFrame(q5_1L,columns=["Athlete","Gold"])
q5df.sort_values(by="Gold",ascending=False)

                     Athlete  Gold
18640        PHELPS, Michael    22
7197        LATYNINA, Larisa    18
9948      ANDRIANOV, Nikolay    15
6591            ONO, Takashi    13
5103    MANGIAROTTI, Edoardo    13
...                      ...   ...
8539             ZAKA, Uddin     1
8538            ZAFAR, Hayat     1
8534        MUHAMMAD, Rashid     1
8533   MANNA, Muhammad Afzal     1
22761         LIDBERG, Jimmy     1

[22762 rows x 2 columns]